{% load static %}
{% include "header_login.html" %}
    <!-- Navbar Start -->
    <div class="container-fluid p-0" style="border-bottom:5px solid;">
        <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0 px-lg-5">
            <a href="{% url 'home' %}" class="navbar-brand ml-lg-3">
                <h5 class="m-0 text-primary">
                    <img src="{% static 'images/lt.PNG' %}" style="width:100px;" alt="LearnMore Technologies"/>
                    Welcome, <span class="text-uppercase">{{ user.username }}</span>
                </h5>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between px-lg-3" id="navbarCollapse">
                <div class="navbar-nav mx-auto py-0">
                    <a href="{% url 'home' %}" class="nav-item nav-link">Home</a>
                    <a href="{% url 'enquiry_list' %}" class="nav-item nav-link">Enquire List</a>
                    <a href="{% url 'register_student' %}" class="nav-item nav-link">Register Student</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle active" data-toggle="dropdown">Trainer Details</a>
                        <div class="dropdown-menu m-0">
                            <a href="{% url 'trainer' %}" class="dropdown-item">Trainer Entry</a>
                            <a href="{% url 'trainer_list' %}" class="dropdown-item">Trainer List</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Receipt</a>
                        <div class="dropdown-menu m-0">
                            <a href="" class="dropdown-item">Add Receipt</a>
                            <a href="{% url 'reGenerateReceipt' %}" class="dropdown-item">Download Receipt</a>
                        </div>
                    </div>
                </div>


                <form action="{% url 'logout' %}" method="post">
                  {% csrf_token %}
                  <button class="btn btn-primary" type="submit" style="font-size: 20px;"><i class="fa fa-sign-out" style="color:white"></i></button>
                </form>
            </div>
        </nav>
    </div>
    <!-- Navbar End -->
<style>
    input[type=text],input[type=email],input[type=date], select,textarea {
      width: 100%;
      padding: 8px 12px;
      margin: 4px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }

    input[type=submit] {
      width: 100%;
      background-color: #4CAF50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    input[type=submit]:hover {
      background-color: #45a049;
    }

</style>
<div class="container mt-2" >
    <div class="card p-4" style="background-image: url('{% static 'images/form_bg.jpg' %}'); background-size: cover; background-repeat: no-repeat; background-attachment: fixed;">
        <h2 class="text-left" style="color: rgb(49, 99, 48);">Trainer Details Entry</h2>
        {% if user.is_authenticated %}
            <form method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-4">
                        <label class="form-label" ><b>Trainer Name <span class="text text-danger">*</span></b></label><br>
                        {{ form.name }}
                    </div>
                    <div class="col-md-4">
                        <label class="form-label"><b>Trainer Email <span class="text text-danger">*</span></b></label><br>
                        {{ form.email }}
                    </div>
                    <div class="col-md-4">
                        <label class="form-label"><b>Trainer Phone <span class="text text-danger">*</span></b></label><br>
                        {{ form.phone }}
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-4">
                        <label class="form-label" ><b>Address <span class="text text-danger">*</span></b></label><br>
                        {{ form.address }}
                    </div>
                    <div class="col-md-4">
                        <label class="form-label" ><b>Occupation <span class="text text-danger">*</span></b></label><br>
                        {{ form.occupation }}
                    </div>
                    <div class="col-md-4">
                        <label class="form-label" ><b>Experience <span class="text text-danger">*</span></b></label><br>
                        {{ form.experience }}
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-4">
                        <!-- Batch Type Section -->
                        <label class="form-label"><b>Branch <span class="text text-danger">*</span></b></label><br>
                        {{ form.branch_location }}
                    </div>
                     <!-- Batch Type Section -->
                    <div class="col-md-4">
                        <label class="form-label"><b>Batch Preferred <span class="text text-danger">*</span></b></label><br>
                        {{ form.batch_type }}
                    </div>
                    <!-- Batch Type Section -->
                    <div class="col-md-4">
                        <label class="form-label"><b>Training Mode <span class="text text-danger">*</span></b></label><br>
                        {{ form.training_mode }}
                    </div>
                </div>
                <br>
                <div class="row">
                    <!-- Course Selection Section -->
                    <div class="col-md-4">
                        <label class="form-label"><b>Date of Joining <span class="text text-danger">*</span></b></label>
                        {{ form.date_of_joining }}
                    </div>
                    <!-- Course Selection Section -->
                    <div class="col-md-4">
                        <label class="form-label"><b>Courses Handled <span class="text text-danger">*</span></b></label>
                        {{ form.course }}

                    </div>
                    <div class="col-md-4" style="padding-top:40px">
                        <button type="submit" class="btn btn-primary">Add Trainer</button>
                    </div>
                </div>

            </form>
        {% else %}
            <p>Please Log in to add a trainer</p>
            <a href="{% url 'login' %}">Log In</a>
        {% endif %}
    </div>
</div>

{% include "footer_login.html" %}