{% load static %}
{% include "header_login.html" %}
    <!-- Navbar Start -->
    <div class="container-fluid p-0" style="border-bottom:5px solid;">
        <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0 px-lg-5">
            <a href="{% url 'home' %}" class="navbar-brand ml-lg-3">
                <h5 class="m-0 text-primary">
                    <img src="{% static 'images/lt.PNG' %}" style="width:100px;" alt="LearnMore Technologies"/>
                    Welcome, <span class="text-uppercase">{{ user.username }}</span>
                </h5>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between px-lg-3" id="navbarCollapse">
                <div class="navbar-nav mx-auto py-0">
                    <a href="{% url 'home' %}" class="nav-item nav-link">Home</a>
                    <a href="{% url 'enquiry_list' %}" class="nav-item nav-link active">Enquire List</a>
                    <a href="{% url 'register_student' %}" class="nav-item nav-link">Register Student</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Trainer Details</a>
                        <div class="dropdown-menu m-0">
                            <a href="{% url 'trainer' %}" class="dropdown-item">Trainer Entry</a>
                            <a href="{% url 'trainer_list' %}" class="dropdown-item">Trainer List</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Receipt</a>
                        <div class="dropdown-menu m-0">
                            <a href="" class="dropdown-item">Add Receipt</a>
                            <a href="{% url 'reGenerateReceipt' %}" class="dropdown-item">Download Receipt</a>
                        </div>
                    </div>
                </div>


                <form action="{% url 'logout' %}" method="post">
                  {% csrf_token %}
                  <button class="btn btn-primary" type="submit" style="font-size: 20px;"><i class="fa fa-sign-out" style="color:white"></i></button>
                </form>
            </div>
        </nav>
    </div>
    <!-- Navbar End -->

    <div class="container mt-2">
        <h2 class="text-center mb-4">Submitted Enquiries</h2>

        <!-- Filter Form -->
        <form method="get" class="mb-4">
            <div class="row">
                <div class="col-md-3">
                    <label for="course" class="form-label">Course</label>
                    <select id="course" name="course" class="form-select">
                        <option value="">All Courses</option>
                        <option value="Python" {% if request.GET.course == "Python" %}selected{% endif %}>Python</option>
                        <option value="Java" {% if request.GET.course == "Java" %}selected{% endif %}>Java</option>
                        <option value="Data Science" {% if request.GET.course == "Data Science" %}selected{% endif %}>Data Science</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="experience" class="form-label">Experience</label>
                    <select id="experience" name="experience" class="form-select">
                        <option value="">All Experiences</option>
                        <option value="Fresher" {% if request.GET.experience == "Fresher" %}selected{% endif %}>Fresher</option>
                        <option value="Experienced" {% if request.GET.experience == "Experienced" %}selected{% endif %}>Experienced</option>
                    </select>
                </div>
                <div class="col-md-3 d-flex align-items-end">
                    <button type="submit" class="btn btn-primary">Filter</button>
                </div>
            </div>
        </form>

        <table class="table table-striped">
            <thead style="background-color: darkcyan;color: white;vertical-align: top;">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Experience</th>
                    <th>Batch Type</th>
                    <th>Course</th>
                    <th>How You Found Us</th>
                    <th>Date Submitted</th>
                </tr>
            </thead>
            <tbody style="background-color: white;">
                {% for enquiry in page_obj %}
                <tr>
                    <td>{{ enquiry.name }}</td>
                    <td>{{ enquiry.email }}</td>
                    <td>{{ enquiry.phone }}</td>
                    <td>{{ enquiry.get_experience_display }}</td>
                    <td>{{ enquiry.get_batch_type_display }}</td>
                    <td>{{ enquiry.get_course_display }}</td>
                    <td>{{ enquiry.get_institute_reference_display }}</td>
                    <td>{{ enquiry.date }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="8" class="text-center">No enquiries submitted yet.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Pagination controls -->
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1{% if request.GET.course %}&course={{ request.GET.course }}{% endif %}{% if request.GET.experience %}&experience={{ request.GET.experience }}{% endif %}">First</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if request.GET.course %}&course={{ request.GET.course }}{% endif %}{% if request.GET.experience %}&experience={{ request.GET.experience }}{% endif %}">Previous</a>
                </li>
                {% endif %}

                <li class="page-item disabled">
                    <span class="page-link">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
                </li>

                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if request.GET.course %}&course={{ request.GET.course }}{% endif %}{% if request.GET.experience %}&experience={{ request.GET.experience }}{% endif %}">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.course %}&course={{ request.GET.course }}{% endif %}{% if request.GET.experience %}&experience={{ request.GET.experience }}{% endif %}">Last</a>

                </li>
                {% endif %}
            </ul>
        </nav>

    </div>
{% include "footer_login.html" %}