{% include "header.html" %}
{% load static %}
<body style="background-image: url('{% static 'images/img.png' %}'); background-size: cover; background-repeat: no-repeat; background-attachment: fixed;">
    

    <div class="container mt-5">
        <h2 class="text-center mb-4" style="background-color: DodgerBlue;">Welcome to My Institute</h2>
        <p class="text-center">Use the menu to navigate between the Enquiry Form and view submitted enquiries.</p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
